body{
    background-color:rgb(189, 240, 241);
    height: 300px;
    margin: 100px auto 200px 200px;
}
.children{
    width: 600px;
    height: 400px;
    margin: 0;
    background-color: cadetblue;
    padding: 80px;
    border-radius: 5px;
    
    
}
h1{
    font-size: 30px;
}
.product-img{
    width: 20rem;
    height: 30rem;
    margin-right: 0;
    right: 0;
    padding: 10px;
    border-radius: 0 5px 5px 0;
    margin-left: 5px;
    
    
    

}
main{
    display: flex;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;
    min-height: 100vh;
    background-color: rgb(26, 231, 119);
    margin: 100px auto;
}
h2{
    font-size: 25px;
    color: darkcyan;
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    

}
p{
    color: grey;
    font-size: 14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.cart-img{
    height: 12px;
    width: 12px;
    margin-right: 3px;
}
h6{
    position: relative;
    left: 130px;
    top: -45px;
    text-decoration: line-through;
    color: grey;
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
button{
    background-color: darkcyan;
    border: none;
    height: 30px;
    width: 190px;
    padding-left: 10px;
    border-radius: 3px;
    color: white;
    margin: 10px auto;
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 50px;

}

.perf-detailing{
    width: 200px;
    height: 27.5rem;
    background-color: white;
    margin-left: 5px;
    border-radius: 0 5px 5px 0;
    padding: 20px;
    margin-top: 20px;
}
